<a href="https://colab.research.google.com/github/BrundaG1112/Python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

def main():
    # Replace 'dataset.csv' with the actual path to your dataset file.
    dataset_file = 'dataset.csv'
    df = pd.read_csv(dataset_file)
    print("First 5 rows of the dataset:")
    print(df.head())
    print("\nLast 5 rows of the dataset:")
    print(df.tail())
    print("\nInformation about the dataset:")
    print(df.info())

    # Display overview of the values of each column.
    print(df.describe())

if __name__ == "__main__":
    main()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

def main():
    # Replace 'dataset.csv' with the actual path to your dataset file.
    dataset_file = 'dataset.csv'

    # Read the dataset into a Pandas DataFrame.
    df = pd.read_csv(dataset_file)

    df_cleaned = df.dropna()
    print("Data excluding rows with empty or NA values:")
    print(df_cleaned)

    df_mean_filled = df.fillna(df.mean())
    print("\nData with NA values replaced by the mean of the column:")
    print(df_mean_filled)

    df_median_filled = df.fillna(df.median())
    print("\nData with NA values replaced by the median of the column:")
    print(df_median_filled)

    duplicates = df.duplicated()
    if duplicates.any():
        print("\nThe dataset has duplicate entries.")
        print("Duplicate rows:")
        print(df[duplicates])
    else:
        print("\nThe dataset does not have any duplicate entries.")

if __name__ == "__main__":
    main()

In [ ]:
df['col1'] = df['col1'].fillna(df['col1'].mean())

In [ ]:
import pandas as pd

def main():
    # Replace 'dataset.csv' with the actual path to your dataset file.
    dataset_file = 'dataset.csv'

    # Read the dataset into a Pandas DataFrame.
    df = pd.read_csv(dataset_file)

    # Task a: Display the data excluding the rows with empty or NA values.
    df_cleaned = df.dropna()
    print("Data excluding rows with empty or NA values:")
    print(df_cleaned)

    # Task b: Replace the NA values using the mean of each specific column.
    for col in df.columns:
        df[col] = df[col].fillna(df[col].mean())

    print("\nData with NA values replaced by the mean of each column:")
    print(df)

    # Task c: Replace the NA values using the median of each specific column.
    # You can use the similar loop structure as above and replace `mean()` with `median()`.

    # Task d: Display if the dataset has any duplicate entries or not.
    duplicates = df.duplicated()
    if duplicates.any():
        print("\nThe dataset has duplicate entries.")
        print("Duplicate rows:")
        print(df[duplicates])
    else:
        print("\nThe dataset does not have any duplicate entries.")

if __name__ == "__main__":
    main()

In [ ]:
boolean = not df["Student"].is_unique      # True (credit to @Carsten)
boolean = df['Student'].duplicated().any()

In [ ]:
df.Cabin.duplicated()

In [ ]:
import pandas as pd
import io

data = '''\
Student,Date
Joe,December 2017
Bob,April 2018
Joe,December 2018'''

df = pd.read_csv(io.StringIO(data), sep=',')

# Approach 1: Simple True/False
boolean = df.duplicated(subset=['Student']).any()
print(boolean, end='\n\n') # True

# Approach 2: First store boolean array, check then remove
duplicate_in_student = df.duplicated(subset=['Student'])
if duplicate_in_student.any():
    print(df.loc[~duplicate_in_student], end='\n\n')

# Approach 3: Use drop_duplicates method
df.drop_duplicates(subset=['Student'], inplace=True)
print(df)

In [ ]:
# Import pandas library
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi'),
			('Saumya', 32, 'Delhi'),
			('Aaditya', 25, 'Mumbai'),
			('Saumya', 32, 'Delhi'),
			('Saumya', 32, 'Delhi'),
			('Saumya', 32, 'Mumbai'),
			('Aaditya', 40, 'Dehradun'),
			('Seema', 32, 'Delhi')
			]

# Creating a DataFrame object
df = pd.DataFrame(employees,
				columns = ['Name', 'Age', 'City'])

# Print the Dataframe
df

In [1]:
# Import pandas library
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi'),
			('Saumya', 32, 'Delhi'),
			('Aaditya', 25, 'Mumbai'),
			('Saumya', 32, 'Delhi'),
			('Saumya', 32, 'Delhi'),
			('Saumya', 32, 'Mumbai'),
			('Aaditya', 40, 'Dehradun'),
			('Seema', 32, 'Delhi')
			]

# Creating a DataFrame object
df = pd.DataFrame(employees,
				columns = ['Name', 'Age', 'City'])

# Selecting duplicate rows except first
# occurrence based on all columns
duplicate = df[df.duplicated()]

print("Duplicate Rows :")

# Print the resultant Dataframe
duplicate

Duplicate Rows :

     Name  Age   City
3  Saumya   32  Delhi
4  Saumya   32  Delhi

In [2]:
# import pandas library
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi'),
			('Saumya', 32, 'Delhi'),
			('Aaditya', 25, 'Mumbai'),
			('Saumya', 32, 'Delhi'),
			('Saumya', 32, 'Delhi'),
			('Saumya', 32, 'Mumbai'),
			('Aaditya', 40, 'Dehradun'),
			('Seema', 32, 'Delhi')
			]

# Creating a DataFrame object
df = pd.DataFrame(employees,
				columns = ['Name', 'Age', 'City'])

# Selecting duplicate rows based
# on 'City' column
duplicate = df[df.duplicated('City')]

print("Duplicate Rows based on City :")

# Print the resultant Dataframe
duplicate

Duplicate Rows based on City :

     Name  Age    City
3  Saumya   32   Delhi
4  Saumya   32   Delhi
5  Saumya   32  Mumbai
7   Seema   32   Delhi

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def main():
    # Replace 'dataset.csv' with the actual path to your dataset file.
    dataset_file = 'dataset.csv'

    # Read the dataset into a Pandas DataFrame.
    df = pd.read_csv(dataset_file)

    # Task a: Visualize the dataset using plot().
    df.plot()
    plt.title("Visualization of the Dataset")
    plt.show()

    # Task b: Draw the Scatter plot for the dataset on any column.
    # Replace 'col1' with the name of the column you want to use for the scatter plot.
    plt.scatter(df.index, df['col1'])
    plt.title("Scatter Plot of Column 'col1'")
    plt.xlabel("Index")
    plt.ylabel("Column 'col1'")
    plt.show()

    # Task c: Display the scatter plot with different colors.
    # For different colors, you can use the 'c' parameter and provide an array of colors.
    # Replace 'col2' with the name of the column you want to use for color differentiation.
    plt.scatter(df.index, df['col1'], c=df['col2'], cmap='viridis')
    plt.title("Scatter Plot with Different Colors")
    plt.xlabel("Index")
    plt.ylabel("Column 'col1'")
    plt.colorbar(label="Column 'col2'")
    plt.show()

    # Task d: Draw the Histogram for the dataset on any column.
    # Replace 'col3' with the name of the column you want to use for the histogram.
    plt.hist(df['col3'], bins=10)
    plt.title("Histogram of Column 'col3'")
    plt.xlabel("Values")
    plt.ylabel("Frequency")
    plt.show()

if __name__ == "__main__":
    main()